@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

.main-content-airbnb{
  border-radius: 10px;
  width: 550px;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.airbnb-nav{
  background-color: white;
  width: 550px;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  margin: auto;
  position: absolute;
  border-radius: 10px 10px 0px 0px;
}

.airbnb-nav >img{
  padding-left: 2rem;
}

.hero{
  background-color: white;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero > img{
  width: auto;
  height: 232px;
  padding: 3rem;
  padding-bottom: 0px;
  margin: 5rem;
  margin-bottom: 1rem;
}

.cto{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
}

.message{
  font-size: 16px;
  font-weight: 300;
}

.hero-text{
  margin: 0rem 5rem 1rem 2.5rem;
}
